/*Google fonts*/
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Lato");

*, *:before, *:after { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: #282c34;
  background: #000 url(//cssanimation.rocks/demo/starwars/images/bg.jpg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Raleway";
  color: #FFF;
}

a {
  font-family: "Raleway";
  color: #FFF;
  text-decoration: none;
}
